* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: $dark;
  display: inline-block;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1256px;

  &--full {
    padding: 0px;
  }

  &--footer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0px;
    // margin: 0px 0px 0px auto;
    max-width: none;
  }
}

.logo {
  height: 53px;
  width: 186px;
}
.search {
  width: 270px;
  height: 100%;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 100px;
  padding: 0px 20px;

  input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
    height: 38px;
    font-size: 14px;
    width: 100%;
    border-radius: 100px;
  }
  &__icon {
    margin-top: 4px;
    margin-right: 4px;
  }
}

.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: $red;
  line-height: 120%;
  margin-bottom: 15px;
}

.title {
  margin-bottom: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: $dark;
  line-height: 120%;
}

.btn {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  border: 2px solid $red;
  border-radius: 100px;
  color: $red;
  transition: all 0.5s ease;
  &:hover {
    color: $white;
    background: linear-gradient(90deg, #fa6873 0%, #cb454f 100%);
    box-shadow: 0px 10px 25px rgba(232, 97, 107, 0.25);
    border: 2px solid transparent;
    border-left: transparent;
    border-right: transparent;
    &::after {
      background-color: $white;
    }
  }

  &:active {
    background: #d05c65;
  }

  &--icon {
    color: $dark;
    &::after {
      width: 21px;
      height: 21px;
      content: '';
      -webkit-mask: url('../img/star.svg') no-repeat 50% 50%;
      -webkit-mask-size: cover;
      background-color: $red;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  &--fill {
    color: $white;
    background-image: linear-gradient(90deg, #fa6873 0%, #cb454f 100%);
    // background: linear-gradient(90deg, #ff5e69 100%, #ff5e69 100%);

    box-shadow: 0px 10px 25px rgba(232, 97, 107, 0.25);
    // background-position: 100% 50%;
    border: 2px solid transparent;
    border-left: transparent;
    border-right: transparent;

    &:hover {
      background-image: linear-gradient(90deg, #ff5e69 100%, #ff5e69 100%);
    }
  }

  &--light {
    color: $light;
  }

  &--md {
    font-size: 16px;
    padding: 12px 40px;
  }

  &--lg {
    font-size: 18px;
    padding: 15px 40px;
  }
}

.btn-arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #ff5e69;
  }

  &:active {
    background: #d05c65;
  }

  img {
    width: 14px;
    height: 20px;
  }
  &--left {
    background: #ff7680;
  }

  &--right {
    margin-left: 15px;
    background: linear-gradient(90deg, #fa6873 0%, #cb454f 100%), #4e8aff;
    box-shadow: 0px 10px 25px rgba(232, 97, 107, 0.25);
  }
}
.slick-slide {
  & + & {
    margin-left: 20px;
  }
}

.slick-list {
  // box-sizing: initial;
  //padding: 50px 0px !important;
}

.menu {
  width: 30px;
  height: 20px;
  -webkit-mask: url('../img/menu.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  border: none;
  background-color: $white;
  outline: none;
  display: none;
  margin: 10px 5px;
}

.menu-over {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  z-index: 4;
  width: 100%;
  content: '';
  display: block;
  background: rgba(4, 51, 83, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  &--active {
    visibility: visible;
    opacity: 1;
  }
}

.menu-mobile {
  z-index: 5;
  top: 0;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  transform: translateX(100%);

  padding: 30px 50px;
  background-color: $dark;
  width: 320px;
  height: 100%;
  border-radius: 40px 0px 0px 40px;
  transition: all 0.3s;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin: 0 auto;
    margin-bottom: 70px;
  }

  &__list {
    margin-bottom: 50px;
  }

  &__item {
    & + & {
      margin-top: 35px;
    }
  }

  &__link {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    display: block;
    color: $white;
  }

  &--active {
    transform: translateX(0%);
  }

  &__close {
    position: absolute;
    top: 36px;
    right: 26px;
  }
}

.lang {
  border-radius: 5px;
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  background: #ffffff;

  &--mobile {
    color: $red;
    .lang__item {
      &--active {
        background-color: $red;
        color: $white;
      }
    }
  }

  &__item {
    padding: 4px 6px 3px 6px;

    border-radius: 5px;

    &--active {
      background-color: $dark;
      color: $white;
    }
  }
}
